<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button defaultHref="home" text="volver" mode="ios"></ion-back-button>
  </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
    <ion-icon slot="end" [name]="icono" class="ion-padding" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding"  >
<ion-img src="../assets/images/Sin_titulo_1.png" class="animate__animated animate__fadeIn"></ion-img>
  <ion-text color="white">
  
    <p class="animate__animated animate__fadeInLeft">Ingrese su nueva contraseña</p>
  </ion-text>

<ion-item>
      <ion-label position="floating" class="animate__animated animate__fadeIn">Nueva contraseña</ion-label>
      <ion-input type="password" class="animate__animated animate__fadeIn"  required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="animate__animated animate__fadeIn">Repitir contraseña</ion-label>
      <ion-input type="password" class="animate__animated animate__fadeIn"  required></ion-input>
    </ion-item>
    
    <ion-button  expand="block" color="warning" (click)="presentAlert()" class="animate__animated animate__fadeInDown">  
      Cambiar
    </ion-button>
  
  



</ion-content>

<app-footer></app-footer>