<div  >
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Escanear codigos QR
      </ion-title>
    </ion-toolbar>
  </ion-header>
  </div>

<ion-content>

<div class="ion-padding">
        <ion-button color="warning" (click)="startScanning()" expand="full">Escanear</ion-button>
        <p *ngIf="qrText">Datos del QR: {{ qrText }}</p>
    </div>

</ion-content>
