<div  >
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pagina Home
    </ion-title>
  </ion-toolbar>
</ion-header>
</div>

<ion-content [fullscreen]="true" class="ion-padding">
  <div >

    

    <ion-text color="secondary" >
      <h3 class="animate__animated animate__shakeY">Bienvenido {{nombreusuario}}</h3>
    </ion-text>

    <ion-text><p class="animate__animated animate__fadeInLeft">Nuestra aplicación te permite leer codigos QR especiales entregados por el docente los cuales te permiten quedar presente durante clases</p></ion-text>

    <ion-img src="../assets/images/qr-code.png" class="animate__animated animate__fadeIn" style="width: 280px; height: 280px;"></ion-img>

    
  </div>
  

  <!-- <ion-button expand="expand" shape="round" routerLink="../pag2"  mode="ios"><ion-icon slot="start" name="star"></ion-icon>Ir pagina 2</ion-button>
<ion-button expand="block" color="success" routerLink="../pag3" mode="ios">Ir pagina 3</ion-button>
<ion-button expand="full" color="warning" routerLink="../pag4"  mode="ios">Ir pagina 4</ion-button>
<ion-button expand="full" color="danger" routerLink="../sumapage"  mode="ios">Ir pagina de Suma</ion-button>  -->


<!-- <ion-fab horizontal="center" vertical="bottom" slot="fixed">
        <ion-fab-button color="warning">
          <ion-icon  md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="primary">
            <ion-icon name="logo-vimeo"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button color="dark">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
        
        </ion-fab-list>
        <ion-fab-list side="start">
          <ion-fab-button color="light" routerLink="../sumapage">
            <ion-icon name="school"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab> -->
 

</ion-content>



