<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  </ion-buttons>
    <ion-title>Asistencia</ion-title>
    <ion-icon slot="end" [name]="icono" class="ion-padding" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-content [fullscreen]="true">
  <div *ngIf="datalocalservice.qrs.length===0" class="ion-padding nohay">
    <p class="animate__animated animate__fadeInUp">No tienes Favoritos Guardados</p>
  </div>


  <app-meals
            [enFav]="true" 
            *ngIf="datalocalservice.qrs.length>0" 
            [meals]="datalocalservice.qrs">
  </app-meals>


</ion-content>


<app-footer></app-footer>