<app-encabezado titulo="Asistencia"></app-encabezado>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-text color="secondary">
    <h3 class="animate__animated animate__fadeIn">INGENIERÍA EN INFORMÁTICA</h3>
  </ion-text>

 <!-- List of Text Items -->
<ion-list>
  <ion-item class="animate__animated animate__backInDown">
    <ion-label><h2>Arquitectura</h2>
      <h3>ASY4131</h3>
      <p>100% (9 DE 9 CLASES)</p>
    </ion-label>
  </ion-item>
  <ion-item class="animate__animated animate__backInDown">
    <ion-label><h2>Calidad De Software</h2>
    <h3>CSY4111</h3>
     <p>100% (10 DE 10 CLASES)</p>
</ion-label>
  </ion-item>
  <ion-item class="animate__animated animate__backInDown">
    <ion-label><h2>Estadistica Descriptiva</h2>
      <h3>MAT4140</h3>
      <p>90% (9 DE 10 CLASES)</p>
    </ion-label>
  </ion-item>
  <ion-item class="animate__animated animate__backInDown">
    <ion-label><H2>Etica Para El Trabajo</H2>
      <h3>EAY4470</h3>
      <p>100% (5 DE 5 CLASES)</p>
    </ion-label>
  </ion-item>
  <ion-item class="animate__animated animate__backInDown">
    <ion-label><h2>Inglés Intermedio</h2>
    <h3>INI5111</h3>
    <p>78.9% (15 DE 19 CLASES)</p>
</ion-label>
  </ion-item>
  <ion-item class="animate__animated animate__backInDown">
    <ion-label><h2>Programación De Aplicaciones Moviles</h2>
    <h3>PGY4121</h3>
    <p>88.9% (8 DE 9 CLASES)</p>
</ion-label>
  </ion-item>
</ion-list>


              
    
  
</ion-content>


